<div style="margin-top:20px">
<div>
  <i class="material-icons" style="margin-left: 20px">
    thumb_up
  </i> Sign all
</div>

<div class="icon-item-container active" title="thumb_up">
  <!-- <div  class="icon-item-inner-container"><icons-image ><i  class="material-icons icon-image-preview">thumb_up</i></icons-image><span  class="icon-item-title">thumb_up</span></div></div> -->
  <mat-form-field style="margin-left: 60%">
    <mat-label>Select Worklist</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="Rechnungen">Rechnungen</mat-option>
      <mat-option value="Lieferungen">Lieferungen</mat-option>
      <mat-option value="Vertraege">Vertraege</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<!-- <p>You selected: {{selected}}</p> -->


<app-clientworklist></app-clientworklist>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->